@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

    @font-face {
    font-family: excon;
    src: url("public/fonts/excon/Excon-Black.ttf") format("ttf");
    color: hotpink;
}

@font-face {
    font-family: excon;
    src: url("public/fonts/excon/Excon-Bold.ttf") format("ttf");
}
@font-face {
    font-family: ranade;
    src: url("public/fonts/ranade/Ranade-Bold.ttf") format("ttf");
}
}
